html, body {
  background-color:#f2f2f2;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
  min-height: 100vh;
}

.header {
  background-color: #a5acb1;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / span 2;
} 
  
.header h1 {
  margin: 0;
}

.buttons {
  position: absolute;
  border: 1px solid #ccc;
  cursor: pointer;
  top: 10px;
  right: 10px;
}

.buttons button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #ff6f00;
  color: white;
  border: none;
  border-radius: 3px;
  animation: button-animation 0.3s;
}

@keyframes button-animation {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.menu {
  background-color: #f2f2f2;
  padding: 20px;
  overflow-y: auto;
  border: 1px solid #ccc;
  cursor: pointer;
  position: sticky;
  top: 60px;
  height: calc(100vh - 60px);
}

.category-list {
  list-style: none;
  padding: 0;
}

.category-list li {
  cursor: pointer;
  margin-bottom: 10px;
}

.category-list li:hover {
  color: blue;
}

.posts {
  background-color: #ffffff;
  padding: 20px;
  overflow-y: auto;
}

.post {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

.post:hover {
  background-color: #f9f9f9;
}

.footer {
  background-color: #f2f2f2;
  color: #333;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / span 2;
}
